<a href="https://colab.research.google.com/github/julia-b-142/Apredizagem-de-Maquina/blob/main/Aula04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a)

print(myvar)

print(myvar[0])

0    1
1    7
2    2
dtype: int64
1

In [ ]:
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a, index = ["x", "y", "z"])

print(myvar)

print(myvar["z"])

x    1
y    7
z    2
dtype: int64
2

In [ ]:
import pandas as pd

calories = {"dia 1": 420, "dia 2": 380, "dia 3": 390}

myvar = pd.Series(calories)

print(myvar)

dia 1    420
dia 2    380
dia 3    390
dtype: int64

In [ ]:
import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories, index = ["day1", "day2"])

print(myvar)

day1    420
day2    380
dtype: int64

In [ ]:
import pandas as pd

mydataset = {

'cars': ["BMW", "Volvo", "Ford"],

'passings': [3, 7, 2],
'fab': ["2000", "", "1989"]


}

myvar = pd.DataFrame(mydataset)

print(myvar)

    cars  passings   fab
0    BMW         3  2000
1  Volvo         7
2   Ford         2  1989

In [ ]:
print (myvar.loc[0])

cars         BMW
passings       3
fab         2000
Name: 0, dtype: object

In [ ]:
print (myvar.loc[[0,1]])

    cars  passings   fab
0    BMW         3  2000
1  Volvo         7